@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.footerSectionContainer {
    width: 100vw;
    height: 300px;
    background-color: #0b131b;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 6px rgba(0,0,0,0.4); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 12px 6px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;

    .footerContactUs {
        width: 45%;
        height: 80%;
        margin: auto;
        color: #ebe8e8;
        display: flex;
        flex-direction: column;

        .footerContactUsTitle {
            text-transform: uppercase;
            font-family: 'Roboto';
            font-weight: 600;
            font-size: 15px;

            .contactSvg {
                fill: #ebe8e8;
                width: 32px;
                height: 32px;
                margin-left: 20px;
            }
        }

        .footerContactUsInfo {
            font-family: 'Roboto';
            font-size: 15px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            div {
                margin-bottom: 10px;
            }
        }

        .contactIco {
            height: 24px;
            width: 24px;
            fill: #ebe8e8;
            margin-right: 10px;
        }
    }

    .footerSocialLinks {
        width: 55%;
        height: 80%;
        display: flex;
        border-right: 1px solid #ebe8e8;
        margin: auto;

        ul {
            margin: auto;
            position: relative;
            display: flex;
            transform: rotate(-10deg) skew(15deg);
            transform-style: preserve-3d;
         }
         ul li {
           position: relative;
           list-style: none;
           width: 60px;
           height: 60px;
           margin: 0px 35px;
         }
         ul li:before{
           content: '';
           position: absolute;
           bottom: -10px;
           left: -5px;
           width: 100%;
           height: 10px;
           background: #262626;
           transform: skewX(-41deg);
         }
         ul li:after{
           content: '';
           position: absolute;
           top:5px;
           left: -9px;
           width: 9px;
           height: 100%;
           background: #262626;
           transform: skewY(-49deg);
         }
         ul li span{
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           display: flex !important;
           background: #262626;
           justify-content: center;
           align-items: center;
           color: #ebe8e8;
           font-size: 30px !important;
           transition: 1.5s ease-out;
         }
         ul li:hover span {
           z-index: 1000;
           transition: .3s;
           color: #ebe8e8;
           box-shadow: -1px 1px 1px rgba(0, 0, 0, .15);
         }
         ul li:hover span:nth-child(5){
           transform: translate(40px, -40px);
           opacity: 1;
         }
         ul li:hover span:nth-child(4){
           transform: translate(30px, -30px);
           opacity: .8;
         }
         ul li:hover span:nth-child(3){
           transform: translate(20px, -20px);
           opacity: .6;
         }
         ul li:hover span:nth-child(2){
           transform: translate(10px, -10px);
           opacity: .4;
         }ul li:hover span:nth-child(1){
           transform: translate(0px, 0px);
           opacity: .2;
         }
         ul li:nth-child(1):hover span{
           background: #52E19F !important;
         }
         ul li:nth-child(2):hover span{
           background: #2C3456 !important;
         }
         ul li:nth-child(3):hover span{
           background: #EA6E96 !important;
         }
         ul li:nth-child(4):hover span{
           background: #c5b806 !important;
         }
    }
}